* {
    /* border: 1px solid yellow; */
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
    scroll-behavior: smooth;
}



/* header */
#headerContainer {
    margin-top: 2em;
    text-align: center;
}
#headerText {
    font-family: "Stoke", serif;
    font-style: normal;
    font-size: 5em;
    margin: 0 auto;
    color: rgb(255, 139, 44);
}



/* intro para */
#intro > p {
    text-align: left;
    font-family: 'Prociono', serif;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 82%;
    margin: 0 auto;
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: rgba(192, 0, 0, 0.746);

}
@media only screen and (min-width: 850px) {
    #intro > p {
        font-size: 1.5em;
        width: 850px;
        margin: 0 auto;
    }
}


/* images */
#imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
    margin-top: 5em;
    padding: 2em;
    background-color: rgba(108, 149, 184, 0.507);
}
.subImgContainer {
    position: relative;
    margin: .5em;
    border-radius: 20%;
    width: 45%;
    height: 45%;
    min-width: 219px;
    min-height: 130px;
    max-width: 359px;
    max-height: 270px;
    border: 2px solid rgb(253, 159, 18);
    animation-name: border-fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@media only screen and (min-width: 200px) and (max-width: 600px ) {
    .subImgContainer {
        width: 90%;
        height: 90%;
    }
}
.subImgContainer:hover {
    cursor: pointer;
} 
@keyframes border-fade {
    0% {border-color: rgba(253, 159, 18, 0);}
    100% {border-color: rgba(253, 159, 18, 0.753);}
}
.img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.caption {
    padding-top: 25%;
    padding-right: 3%;
    padding-left: 3%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.3em;
    text-align: center;
    color: rgb(9, 0, 133);
    border-radius: 20%;
}
@media only screen and (min-width: 600px) {
    .caption {
        font-size: 1.3em
    }
}
@media only screen and (min-width: 1000px) {
    .caption {
        font-size: 1.6em
    }
}

  






