html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
    scroll-behavior: smooth;
}

#headerContainer {
    margin-top: 2em;
    text-align: center;
    
}

#veniceHeaderText {
    font-family: "Lobster", cursive;
    font-size: 6em;
    margin: 0 auto;
    color: rgb(253, 159, 18);
}

#intro {
    text-align: center;
    font-family: 'Prociono', serif;
    font-size: 1.5em;
    color: rgb(0, 0, 148);
    line-height: 1.4em;
    max-width: 40em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 28em;
}


#arrow {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    animation-name: fade;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes fade {
    0% {background-color: rgba(0, 140, 70, 0.65);}
    50% {background-color: rgb(244, 245, 240, 0.65);}
    100% {background-color: rgb(205, 33, 42, 0.65);}
}


#slideShowContainer {
    position: relative;
    margin: auto;
    width: 50%;
    height: 89%;
    background-color: rgba(0, 23, 128, 0);
    text-align: center;
    overflow: hidden;
    transition: .6s linear;
    min-width: 300px;


}

#slideShowContainer:hover {
    background-color: rgba(0, 23, 128, 0.87);

}

.imgContainer {
    display: none;
}


.imgNumber {
    color: #f2f2f2;
    font-size: .9em;
    padding-top: .em;
    padding-left: .2em;
    position: absolute;
    top: 0;
}

.captionText {
    color: #ffffff;
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
}

#prevImg, #nextImg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 30px;
    transition: .6s linear;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

#prevImg {
      left: 0;
  }

#nextImg {
    right: 0;
}

#prevImg:hover, #nextImg:hover {
    color: red;
}


#img1 {
    transform: rotate(-90deg);
    min-width: 300px;

}

#img3, #img4, #img5, #img6, #img7, #img9, #img10, #img13, #img15, #img19, #img20, #img24, #img25, #img26 {
    transform: rotate(90deg);
    min-width: 300px;


}

#img1, #img3, #img4, #img5, #img6, #img7, #img9, #img10, #img13, #img15, #img19, #img20, #img24, #img25, #img26 {
    object-fit: contain;
    margin-top: 4em;
    width: 68%;
    min-width: 300px;
    height: auto;


}

#img2, #img8, #img11, #img12, #img14, #img16, #img17, #img21, #img22, #img23 {
    object-fit: contain;
    width: 88%;
    min-width: 300px;
    height: auto;

}





#footer {
    height: 3vh;
}