* {
    /* border: 1px solid yellow; */
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
    scroll-behavior: smooth;
}



/* header */
#headerContainer {
    margin-top: 2em;
    text-align: center;
    
}
#veniceHeaderText {
    font-family: "Lobster", cursive;
    font-size: 6em;
    margin: 0 auto;
    color: rgb(253, 159, 18);
}



/* intro para */
#intro > p {
    text-align: left;
    font-family: 'Prociono', serif;
    font-size: 1.2em;
    line-height: 1.4em;
    width: 82%;
    margin: 0 auto;
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 97, 153, 0.863);
}
@media only screen and (min-width: 850px) {
    #intro > p {
        font-size: 1.5em;
        width: 850px;
        margin: 0 auto;

    }
}




#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15%;
    margin-top: 5em;
    padding: 2em;
    background-color: rgba(0, 97, 153, 0.479);
}
.venice {
    margin: .5em;
    border-radius: 20%;
    min-width: 159px;
    min-height: 70px;
    max-width: 359px;
    max-height: 270px;
    width: 40%;
    height: 40%;
}





/* .captionText {
    color: #ffffff;
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
} */



